@include breakpoint(m-l-xl) {
    .content {
        position: absolute;

        width: 100%;

        top: $topbar-height + $topbar2-height;
        left: $navbar-width;

        padding: 30px 235px 0 35px;

        background-color: $content-bg;

        //font
        h3 {
            margin: 0 0 25px 0;
            padding: 0;
            font-size: 16px;
        }

        h4 {
            font-size:14px;
        }

    }
}