@include breakpoint(m-l-xl) {
    .content {
        position: absolute;

        top: $topbar-height*2;
        left: $navbar-width;

        padding: 30px 0 0 35px;

        //font
        h3 {
            margin: 0;
            padding: 0;
            font-size: 16px;
        }

        h4 {
            font-size:14px;
        }

    }
}