@include breakpoint(m-l-xl) {
    .navbar {
        position: fixed;
        height: 100%;

        background-color: $navbar-bg;
        border: 0;

        //UL
        .navbar-nav {

            //LI
            .dropdown {
                @include transition(0.3s);

                display: block;
                position: relative;
                float: none;

                width: 100%;
                height: 20px;

                overflow: hidden;

                margin: 0 0 25px;
                padding: 0 0 0 15px;

                a {
                    padding: 0;
                    background-color: transparent !important;

                    .caret {
                        margin-left: 5px;
                    }
                }

                &.open {
                    height: auto;

                    a {
                        &:hover {
                        }
                    }
                }

                &.active {
                    a {
                        color: $zentral-green;
                    }
                }

                .dropdown-menu {
                    display: block;
                    position: relative;

                    width: 100%;

                    margin: 15px 0 0;

                    padding: 0 0 10px 15px;

                    border: none;
                    border-radius: 0;
                    box-shadow: none;

                    background: none;

                    li {
                        a {
                            font-size: 13px;
                            line-height: 25px;
                            color: $navbar-font;
                        }
                    }
                }
            }
        }
    }

    .navbar-header {
        display: block;
        float: none;
        padding: $content-padding-top 0 20px 20px;
    }

    .navbar-default {
    }

    .navbar-brand {
        display: block;
        float: none;
        padding: 0;

        a {
            padding: 0;
        }
    }

}

