.navbar {
    position: absolute;
    width: $navbar-width;
    height: 100%;

    background-color: $navbar-bg;
    border: 0;

    //UL
    .navbar-nav {
    }

    //LI
    .dropdown {
        float: none;
        margin: 25px 0;
        padding: 0 0 0 15px;

        a {
            padding: 0;
        }
    }

}

.navbar-header {
    display: block;
    float: none;
    padding: 20px 10px;
}

.navbar-default {
}

.navbar-brand{
    display: block;
    float: none;
    padding: 0;
}

