@include breakpoint(m-l-xl) {

    .table-reponsive {
        margin: 40px 0 0;
    }

    tbody {

        tr {

            &:nth-of-type(even) {
                background: red;
            }

            &:nth-of-type(odd) {
                background: green;
            }

        }
    }

}